/* Seção de Formulário */

.container-geral {
   
    width:100%;
    margin:0 auto;
}

.container-formulario {
    float:left;
    width:50%;       
}

.input-padrao {
	margin: 20px 15px 0 10px;
	padding: 15px 15px;
	width: 75%;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.informacoes-usuario {
    margin: 30px -05px 10px 10px;
	padding: 15px 15px;
}

.input-padrao--mensagem {
    margin: 10px;
	padding: 15px 15px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.container-mensagem {
    display: inline- block;
    padding: 15px 30px;
    width: 90%;
}

/* Seção de Informações */

.container-informacoes {
    display: block;
    float:right;
    width:50%;
}

.container-geral h4 {
    margin: 60px 0 30px 20px;
    font-size: 2em;
}

.borda-informacoes {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
   max-width: 350px;
   line-height: 1.5;
}


.container-informacoes p {
    font-size: 15px;
    padding: 15px 0;
    margin: 5px;
}

/* Botão */
.botao-formulario {
    margin: 0 50px 70px;
    align-items: center;
    padding: 9px;
    background: #a30d12;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    transition: 1s background;
}

.botao-formulario:hover {
    background: #560407;
}