/* Seção de Formulário */

.container-geral {
    width:1170px;
    margin:0 auto;
}

.container-formulario {
    float:left;
    width:780px;   
    display: flex;
    flex-wrap: wrap;
    
}

.input-padrao {
	margin: 20px 15px 0 10px;
	padding: 15px 15px;
	width: 40%;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.informacoes-usuario {
    margin: 30px -15px 10px 10px;
	padding: 15px 15px;
}

.input-padrao--mensagem {
    margin: 10px;
	padding: 15px 15px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.container-mensagem {
    padding: 15px 30px;
    width: 90%;
}

/* Seção de Informações */

.container-informacoes {
    /* background-color: blueviolet; */
    float:right;
    width:390px;
}

.container-informacoes h4 {
    margin: 60px 0 30px 0;
    font-size: 2em;
}

.borda-informacoes {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
}

.container-informacoes p {
    font-size: 15px;
    /* font-weight: bold; */
    padding: 15px 0;
}

/* Botão */
.botao-formulario {
    margin: 20px 40px;
    padding: 9px;
    background: #a30d12;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s background;
	cursor: pointer;
}