.cabecalho {
    display: flex;
    flex-wrap: wrap;
    background-color: #a30d12;
}

.cabecalho a {
    color: #fff;
    text-decoration: none;
}

.logo {
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.menu-principal {
    padding: 20px;
    margin: 20px;
}

.lista-menu-principal {
    align-items: center;
    margin: 100px 50px 0 0;


}

hr {
    width: 90%;
    color: #fff;
    align-items: center;
    border-radius: 5px;
    opacity: .5;
}

.itens-menu-principal {
    display: inline;
    margin: 0 0 0 50px;
    font-weight: bold;
    font-size: 20px;
   
}

.botao-pedir {
    text-align: center;
    padding: 36px 20px 0 20px;
    background-color: #ffd21c;
    border-radius: 50px;
    display: flex;
    max-width: 200px;
    font-size: 20px;
    font-weight: bold;
    margin: 100px 0 50px 50px;;
}

.botao-pedir:hover {
    background: #8c0000be;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.menu-secundário {
    margin: 25px 0 25px 180px;
    display: flex;
    flex-wrap: wrap;

}

.item-menu-secundario {
    display: inline;
    margin: 0 25px 0 20px;
    padding-right: 20px;
    font-weight: lighter;
}